.heading {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.7rem;
  box-sizing: border-box;
}

#light .heading {
  background-color: red;
}

#dark .heading {
  background-color: blue;
}

.devfinder {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #222731;
}

#dark .devfinder {
  color: #ffffff;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  color: #222731;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.5px;
  cursor: pointer;
}

#dark .mode {
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .heading {
    width: 80%;
  }
  .devfinder {
    font-size: 2rem;
    margin: 0;
    padding: 0px;
  }
}

@media screen and (min-width: 623px) and (max-width: 768px) {
  .heading {
    width: 80%;
  }

  .devfinder {
    font-size: 2rem;
    margin: 0;
    padding: 0px;
  }
}
